$color: #1435C3;
$height: 40px;

.navbar {
    height: $height;
    width: 100%;
    background-color: $color;
    display: flex;
    padding-left: 200px;
    .navbar__item {
        min-width: 100px;
        padding: 10px;
        color: #fff;
        font-family: Notosans-Semibold;
        &:hover {
            background-color: #7488e4e3;
            cursor: pointer;
        }
    }
}