$color: #1435C3;
$height: 40px;

.navbar {
    height: $height;
    width: 100%;
    background-color: $color;
    display: flex;
    padding-left: 200px;
    .navbar__item {
        min-width: 100px;
        padding: 10px;
        color: #fff;
        font-family: Notosans-Semibold;
        &:hover {
            background-color: #7488e4e3;
            cursor: pointer;
        }
        &.selected {
            &::after {
                display: block;
                content: "";
                width: 100%;
                height: 4px;
                background: rgb(255,255,255);
background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 51%, rgba(0,212,255,1) 100%);
                }
            }
        }
}